<div class="well well-sm"
     onclick="$('.detail').toggle()"
     style="background-color: dimgray;color: white;font-size: 15px;text-align: center;cursor: pointer;font-weight: bold;">
    {% trans %}details.see{% endtrans %}
</div>